<table style="border-width: 0px; border-spacing: 0px;">
<tr>
<td style="border-width: 0px; padding: 0px;">
<img src="left.jpg">
</td>
<td style="border-width: 0px; padding: 0px;">
<img src="indonesia.jpg">
</td>
<td style="border-width: 0px; padding: 0px;">
<img src="japan.jpg">
</td>
<td style="border-width: 0px; padding: 0px;">
<img src="korea.jpg">
</td>
<td style="border-width: 0px; padding: 0px;">
<img src="malaysia.jpg">
</td>
<td style="border-width: 0px; padding: 0px;">
<img src="philippines.jpg">
</td>
<td style="border-width: 0px; padding: 0px;">
<img src="singapore.jpg">
</td>
<td style="border-width: 0px; padding: 0px;">
<img src="thailand.jpg">
</td>
<td style="border-width: 0px; padding: 0px;">
<img src="vietnam.jpg">
</td>
<td style="border-width: 0px; padding: 0px;">
<img src="right.jpg">
</td>
</tr>
</table>