<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css" />
  <script>
  $(function() {
    $( "#id_form-0-pub_date" ).datepicker({
      showOtherMonths: true,
      selectOtherMonths: true,
	  dateFormat: "yy-mm-dd"
    });
  });
  </script>
  <link rel="stylesheet" href="{{ STATIC_URL }}styles.css" />
	
    <title>{% block title %}Newsletter Builder{% endblock %}</title>
</head>

<body>
	<div id='cssmenu'>
		<ul>
		<li class='active '><a href='/'><span>Home</span></a></li>
		<li class='has-sub '><a href='/articles'><span>Articles</span></a>
			<ul>
				<li><a href='/articles/add'><span>Add Article</span></a></li>
				<li><a href='/articles'><span>View Articles</span></a></li>
			</ul>
		</li>
		<li class='has-sub '><a href='/preview'><span>Newsletter</span></a>
			<ul>
				<li><a href='/preview' target="_blank"><span>Preview</span></a></li>
			</ul>
		</li>
		<li class='has-sub '><a href='#'><span>Database</span></a>
			<ul>
				<li><a href='/publications'><span>Publications</span></a></li>
				<li><a href='/journalists'><span>Journalists</span></a></li>
				<li><a href='/publications/add'><span>Add Publication</span></a></li>
				<li><a href='/journalists/add'><span>Add Journalist</span></a></li>
			</ul>
		</li>
		<li class='has-sub '><a href='#'><span>{% block username %}{% endblock %}</span></a>
			<ul>
				<li><a href='/logout'><span>Logout</span></a></li>
			</ul>	
		</li>
		</ul>
	</div>
<br />
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>