<html>
<head>
<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
</head>
<body>
<center>
<table style="background-color: #000000; width: 600px"><tr><td><img src="{{ STATIC_URL }}/banner/banner.gif"></td></tr></table>
<table style="width: 600px; border-width: 0px; border-spacing: 0px;">
<tr>
    {% for region in regions %}
<td style="border-width: 0px; padding: 0px;">
<a href="#{{ region.name }}"><img src="{{ STATIC_URL }}banner/{{ region.name }}.png"></a>
</td>
    {% endfor %}
</tr>
</table>
<br />
<table style="width: 600px; border-width: 0px; border-spacing: 0px;">
{% for region in regions %}
	<tr>
		<td>
			<h3 style=" font-family: 'Trade Gothic Next LT Pro', arial, verdana, sans-serif;">{{ region.name }}</h3>
			<a name="{{ region.name }}"></a>
		</td>
	</tr>
	{% for article in articles %}
		{% if article.region == region.name %}
			<tr>
				<td>
					<p style=" font-family: 'Trade Gothic Next LT Pro', arial, verdana, sans-serif;">
						<strong>{{ article.publication }} - {{ article.headline }}</strong><br />
						{{ article.content }}
					</p>
					<br />
				</td>
			</tr>
		{% endif %}
	{% endfor %}
	<tr>
		<td>
			<p style=" font-family: 'Trade Gothic Next LT Pro', arial, verdana, sans-serif;">
				<small>More <a href="{{ region.name }}">{{ region.name }}</a> articles</small>
			</p>
			<hr />
		</td>
	</tr>
{% endfor %}
</table>

</center>
</html>