{% extends "base.html" %}
{% block username %}{{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block title %}Newsletter Builder - Article List{% endblock %}

{% block content %}

{% if article_list %}
	<table class="list" id="list_table">
	<tr class="header">
		<th>Headline</th><th>Publication</th><th>Category</th><th>Subject</th><th>Region</th><th></th><th></th>
	</tr>
    {% for article in article_list %}
		<tr>
    	<td><a href="/articles/{{ article.id }}/">{{ article.headline }}</a></td><td>{{ article.publication }}</td><td>{{ article.category }}</td><td>{{ article.subject }}</td><td>{{ article.region }}</td><td><a href="/articles/edit/{{ article.id }}/">edit</a></td><td><a href="/articles/delete/{{ article.id }}/">delete</a></td>
		</tr>
    {% endfor %}
    </table>
{% else %}
    <p>No articles are available.</p>
{% endif %}

{% endblock %}