{% extends "base.html" %}
{% block username %}{{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block title %}Newsletter Builder - View Article{% endblock %}

{% block content %}

<h4>{{ article.headline }}</h4>
<h4>{{ article.publication }}</h4>
<h4>{{ article.journalist }}</h4>
<h4>{{ article.pub_date }}</h4>
<h4>{{ article.circulation }}</h4>
<h4>{{ article.subject }}</h4>
<h4>{{ article.category }}</h4>
<h4>{{ article.sentiment }}</h4>
<h4>{{ article.language }}</h4>
<h4>{{ article.content }}</h4>
<h4>{{ article.translated_content }}</h4>
<h4>{{ article.link }}</h4>
<h4>{{ article.clipping }}</h4>
<h4>{{ article.highlight_image }}</h4>
<h4>{{ article.modified }}</h4>
<h4>{{ article.created }}</h4>
<h4>{{ article.last_modified_by }}</h4>
<h4>{{ article.created_by }}</h4>

{% endblock %}