{% extends "base.html" %}
{% block username %}{{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block title %}Newsletter Builder - Add Article{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="" method="post">
{% csrf_token %}
{% for choice in article.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>


<h4>{{ article.headline }}</h4>
<h4>{{ article.publication }}</h4>
<h4>{{ article.journalist }}</h4>
<h4>{{ article.pub_date }}</h4>
<h4>{{ article.source }}</h4>
<h4>{{ article.circulation }}</h4>
<h4>{{ article.subject }}</h4>
<h4>{{ article.category }}</h4>
<h4>{{ article.sentiment }}</h4>
<h4>{{ article.language }}</h4>
<h4>{{ article.content }}</h4>
<h4>{{ article.translated_content }}</h4>
<h4>{{ article.link }}</h4>
<h4>{{ article.clipping }}</h4>
<h4>{{ article.highlight_image }}</h4>
<h4>{{ article.modified }}</h4>
<h4>{{ article.created }}</h4>


{% endblock %}