{% extends "base.html" %}
{% block username %}{{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block title %}Newsletter Builder - Add Article{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form method="post" action="/articles/save/">
	{% csrf_token %}
	{{ formset.management_form }}
	{% for form in formset %}
        {{ form.id }}
<table>
	<tr><td>Headline:</td><td>{{ form.headline }}</td>
	<tr><td>Publication:</td><td>{{ form.publication }}</td>
	<tr><td>Region:</td><td>{{ form.region }}</td>
	<tr><td>Journalist:</td><td>{{ form.journalist }}</td>
	<tr><td>Publication Date:</td><td>{{ form.pub_date }}</td>
	<tr><td>Circulation:</td><td>{{ form.circulation }}</td>
	<tr><td>Subject:</td><td>{{ form.subject }}</td>
	<tr><td>Category:</td><td>{{ form.category }}</td>		
	<tr><td>Sentiment:</td><td>{{ form.sentiment }}</td>
	<tr><td>Language:</td><td>{{ form.language }}</td>
	<tr><td>Content:</td><td>{{ form.content }}</td>
	<tr><td>Link:</td><td>{{ form.link }}</td></tr>
	<tr><td><input type="reset"></td><td><input type="submit"></td></tr>
</table>
    {% endfor %}
</form>

{% endblock %}