{% extends "base.html" %}
{% block username %}{{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block title %}Newsletter Builder - Add Article{% endblock %}

{% block content %}

{% if unsent_articles_list %}
    <ul>
    {% for article in unsent_articles_list %}
        <li>{{ article.headline }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p></p>
{% endif %}

{% endblock %}