{% extends "base.html" %}
{% block username %}{{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block title %}Newsletter Builder | Add Journalist{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form method="post" action="/journalists/save/">
	{% csrf_token %}
	{{ formset.management_form }}
	{% for form in formset %}
        {{ form.id }}
<table>
	<tr><td>Publication:</td><td>{{ form.publication }}</td>
	<tr><td>Given Name:</td><td>{{ form.given_name }}</td>
	<tr><td>Surname:</td><td>{{ form.surname }}</td>
	<tr><td>Focus:</td><td>{{ form.focus }}</td>
	<tr><td><input type="reset"></td><td><input type="submit"></td></tr>
</table>
    {% endfor %}
</form>

{% endblock %}