{% extends "base.html" %}
{% block username %}{{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block title %}Newsletter Builder | Journalist List{% endblock %}

{% block content %}

{% if journalist_list %}
    <table class="list" id="list_table">
	<tr class="header">
		<th>Name</th><th>Publication</th><th>Focus</th>
	</tr>
    {% for journalist in journalist_list %}
		<tr class="{% cycle 'odd' 'even' %}">
    	<td><a href="/journalists/{{ journalist.id }}/">{{ journalist.given_name }} {{ journalist.surname }}</a></td>
		<td>{{ journalist.publication }}</td>
		<td>{{ journalist.focus }}</td>
		</tr>
    {% endfor %}
    </table>
{% else %}
    <p>No journalists are available.</p>
{% endif %}

{% endblock %}