{% extends "base.html" %}
{% block username %}{{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block title %}Newsletter Builder - View Publication{% endblock %}

{% block content %}

<h4>{{ journalist.given_name }} {{ journalist.surname }}</h4>
<h4>{{ journalist.publication }}</h4>
<h4>{{ journalist.focus }}</h4>

{% endblock %}