{% extends "base.html" %}
{% block username %}{{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block title %}Newsletter Builder - Publication List{% endblock %}

{% block content %}

{% if publication_list %}
    <table class="list" id="list_table">
	<tr class="header">
		<th>Name</th><th>Region</th><th>Medium</th><th>Tier</th>
	</tr>
    {% for publication in publication_list %}
		<tr class="{% cycle 'odd' 'even' %}">
    	<td><a href="/publications/{{ publication.id }}/">{{ publication.name }}</a></td>
		<td>{{ publication.region }}</td>
		<td>{{ publication.medium }}</td>
		<td>{{ publication.tier }}</td>
		</tr>
    {% endfor %}
    </table>
{% else %}
    <p>No publications are available.</p>
{% endif %}

{% endblock %}