{% extends "base.html" %}
{% block username %}{{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block title %}Newsletter Builder - Add Publication{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form method="post" action="/publications/save/">
	{% csrf_token %}
	{{ formset.management_form }}
	{% for form in formset %}
        {{ form.id }}
<table>
	<tr><td>Name:</td><td>{{ form.name }}</td>
	<tr><td>Medium:</td><td>{{ form.medium }}</td>
	<tr><td>Type:</td><td>{{ form.publication_type }}</td>
	<tr><td>URL:</td><td>{{ form.url }}</td>
	<tr><td>Circulation:</td><td>{{ form.current_circulation }}</td>
	<tr><td>Tier:</td><td>{{ form.tier }}</td>
	<tr><td>Frequency:</td><td>{{ form.frequency }}</td>		
	<tr><td>Region:</td><td>{{ form.region }}</td>
	<tr><td>Language:</td><td>{{ form.language }}</td>
	<tr><td><input type="reset"></td><td><input type="submit"></td></tr>
</table>
    {% endfor %}
</form>

{% endblock %}